{% extends "../base.html.twig" %}

{% block title %}Fixtures{% endblock %}

{% block body %}
    <h1>Fixtures</h1>
    <h2>Workouts</h2>
    <h3>Origins</h3>
    <ul>
        {% for name in workoutOriginsNames %}
            <p>{{ name }}</p>
        {% endfor %}
    </ul>
    <h3>Workouts</h3>
    <ul>
        {% for workout in workouts %}
            <li><h4>{{ workout.name }}</h4>
            {% if workout.numberOfRounds is not same as(1) %}
                <p>{{ workout.numberOfRounds }} rounds of :</p>
            {% endif %}

{#            Order by block.orderInWorkout#}
            {% for block in workout.blocks %}
                {% if block.rounds is not same as(1) %}
                    <h5>{{ block.rounds }} rounds of :</h5>
                {% endif %}

                {% for movementCluster in block.movementClusters %}
                    <p>- {{ movementCluster.repetitions }} {{ movementCluster.repUnit.value }}
                    {% for implement in movementCluster.implements %}
                        {{ implement.name }}
                    {% endfor %}
                    {{ movementCluster.movement.name }}
                    {% if movementCluster.implementIntensityUnit is not null %}
                        ( {{ movementCluster.implementIntensityAdjustmentValue }} {{ movementCluster.implementIntensityUnit.value }} )
                    {% endif %}
                    </p>
                {% endfor %}
                {% if block.restTime is not null %}
                    {block.restTime}} seconds rest
                {% endif %}
            {% endfor %}
            <p>Time cap {{ workout.timeCap }} minutes</p>
            </li>
        {% endfor %}
    </ul>

    <h3>Movements</h3>
    <ul>
        {% for movement in movements %}
            <li>
                <h4>{{ movement.name }}</h4>
                <ul>
                    <li>Difficulté : {{ movement.difficulty }}</li>
                    <ul> Temps de réalisation selon l'unité de mesure à 50% intensité
                        {% for movementExecutionTimeForMeasureUnit in movement.movementExecutionTimeForMeasureUnits %}
                            <li>
                                {{ movementExecutionTimeForMeasureUnit.measureUnit.value }} : {{ movementExecutionTimeForMeasureUnit.executionTimeInMilliseconds }} ms
                            </li>
                        {% endfor %}
                    </ul>
                </ul>
                <p>Body parts</p>
                <ul>
                    {% for bodyPart in movement.bodyParts %}
                        <li>
                            {{ bodyPart.name }}
                        </li>
                    {% endfor %}
                </ul>
                <p>Possible implements</p>
                <ul>
                    {% for possibleImplements in movement.possibleImplements %}
                        <li>
                            {{ possibleImplements.name }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <h3>Body parts</h3>
    <ul>
        {% for bodyPart in bodyParts %}
            <li>
                {{ bodyPart.name }}
            </li>
        {% endfor %}
    </ul>

    <h3>Movement types</h3>
    <ul>
        {% for movementType in movementTypes %}
            <li>
                {{ movementType }}
            </li>
        {% endfor %}
    </ul>

    <h3>Implements</h3>
    <ul>
        {% for implement in implements %}
            <li>
                {{ implement.name }}
                <ul>
                    {% if implement.implementTypeOfAdjustableMeasure is not null %}
                        {{ implement.implementTypeOfAdjustableMeasure.implementTypeOfMeasureEnum.value }}
                        {% for measureUnit in implement.implementTypeOfAdjustableMeasure.measureUnits %}
                            <li>
                                {{ measureUnit.name }}
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <h3>Workout types</h3>
    <ul>
        {% for workoutType in workoutTypes %}
            <li>
                {{ workoutType }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
